:root {
  --color-background: #84a178;
  --color-primary-text: #fcfcfc;
  --color-secondary-text: #131313;
  --color-text-orange: #d6936d;
  --color-btn-default: #f8d24e;
  --color-btn-hover_focus: #0a8817;
  --color-btn-disable: #ababab;
  --color-mobile-menu: #85a279;
}
