:root {
  --color-background: #84a178;
  --color-btn-default: #f8d24e;
  --color-btn-hover_focus: #0A8817;
  --color-btn-disable: #ABABAB;
  --color-text-black: #131313;
  --color-white: #FCFCFC;
  --color-text-orange: #D6936D;
  --color-mobile-menu: #85A279;
}
