// Модальное окно

.modal-franchise-window {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  background-color: var(--color-primary-text);
  transform: translate(-50%, -50%);
  padding: 40px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  border: 2px solid var(--color-btn-default);
  border-radius: 10px;
  padding: 28px 30px 28px 28px;
}
.modal-franchise-window__close-btn {
  position: absolute;
  display: flex;
  background-color: transparent;
  width: 16px;
  height: 16px;
  border: 1px solid transparent;
  border-radius: 50%;
  padding: 3.55px;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  // transition: fill var(--transit-dur-func);

  &:hover,
  &:focus {
    fill: var(--color-btn-default);
  }
}

// Модальная форма

.modal-franchise-form {
  &__title {
    color: var(--color-secondary-text);
    font-family: 'Seymour One';
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 20px;
  }
  &__text {
    font-size: 14px;
    line-height: 1.43;
    margin-bottom: 24px;
  }
  &__input {
    display: block;
    width: 100%;
    height: 32px;
    border: 1px solid var(--color-background);
    border-radius: 10px;
    margin-bottom: 12px;
    padding: 12px 8px;
  }
  &__coment {
    display: block;
    width: 100%;
    height: 64px;
    border: 1px solid var(--color-background);
    border-radius: 10px;
    margin-bottom: 24px;
    padding: 12px 8px;
    resize: none;
  }
}
.modal-franchise-form__input:focus,
.modal-franchise-form__coment:focus {
  outline-color: var(--color-btn-default);
  //  transition: outline-color var(--transit-dur-func);
}
input::-webkit-input-placeholder {
  color: var(--color-secondary-text);
  font-size: 12px;
  line-height: 1.42;
}
textarea::-webkit-input-placeholder {
  color: var(--color-secondary-text);
  font-size: 12px;
  line-height: 1.42;
}
.modal-franchise-form__button {
  width: 114px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  cursor: pointer;
}

@media screen and (min-width: 280px) {
  .modal-franchise-window {
    width: 280px;
  }
}
@media screen and (min-width: 768px) {
  .modal-franchise-window {
    width: 568px;
    padding: 32px 60px;
  }
  .modal-franchise-form {
    &__title {
      font-size: 20px;
      margin-bottom: 24px;
      width: 322px;
      margin-right: auto;
      margin-left: auto;
    }

    &__text {
      font-size: 14px;
      margin-bottom: 32px;
    }

    &__input {
      height: 42px;
      margin-bottom: 16px;
      padding: 16px 11px;
    }

    &__coment {
      height: 84px;
      margin-bottom: 32px;
      padding: 16px 11px;
    }
  }
  input::-webkit-input-placeholder {
    color: var(--color-secondary-text);
    font-size: 14px;
  }

  textarea::-webkit-input-placeholder {
    color: var(--color-secondary-text);
    font-size: 14px;
  }
  .modal-franchise-form__button {
    width: 121px;
    font-size: 14px;
  }
  .modal-franchise-window__close-btn {
    width: 20px;
    height: 20px;
    padding: 4.4px;
  }
}
