.backdrop {
  background: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  );
  overflow-y: scroll;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.modal-ing {
  @include сentering-xy();
  opacity: 1;
  z-index: 100;
  width: 280px;
  padding: 28px 20px 32px;
  background-color: var(--color-primary-text);
  border: 2px solid var(--color-btn-default);
  border-radius: 10px;
  overflow: auto;
  max-height: 100%;
}

.modal-ing__close-btn {
  @include fcc;
  position: absolute;
  top: 28px;
  right: 20px;
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: transparent;
  box-shadow: none;
}

.modal-ing__form-title {
  font-family: Seymour One;
  text-align: center;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 22px;
}

.modal-ing__img-container {
  @include margin-auto;
  width: 132px;
  height: 138px;
  border-radius: 50%;
  margin-bottom: 24px;
  background-color: var(--tint-icecream);
  box-shadow: 0 5.26027px 19.726px rgb(10 136 23 / 25%);
}

.modal-ing__img-container-icecoffee {
  background-color: var(--tint-icecoffee);
  box-shadow: 0 5.26027px 19.726px rgb(153 114 23 / 25%);
}

.modal-ing__img-container-milkshake {
  background-color: var(--tint-milkshake);
  box-shadow: 0 5.26027px 19.726px rgb(213 117 63 / 25%);
}

.modal-ing__img {
  @include margin-auto;
  border-radius: 50%;
}

.modal-ing__nutritional-value {
  display: flex;
  justify-content: center;
  margin-bottom: 39px;
}

.modal-ing__list {
  display: flex;
  gap: 9px;
  text-align: center;
}

.modal-ing__item {
  width: 53px;
  height: 72px;
  border: 2px solid var(--tint-icecream);
  border-radius: 40px;

  & .gramm {
    @include fcc;
    @include margin-auto;
    font-weight: 500;
    font-size: 10px;
    line-height: 2.8;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    margin-top: -2px;
    margin-bottom: 8px;
    background-color: var(--tint-icecream);
    box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
    @media screen and (min-width: 768px) {
      width: 53px;
      height: 53px;
      font-size: 12px;
      line-height: 2.33;
    }
  }

  & .text {
    font-size: 10px;
    line-height: 1.2;
    @media screen and (min-width: 768px) {
      font-size: 12px;
      line-height: 1.25;
    }
  }
}

.modal-ing__item-icecoffee {
  border: 2px solid var(--tint-icecoffee);

  & .gramm-icecoffee {
    background-color: var(--tint-icecoffee);
    box-shadow: 0px 6px 20px rgba(153, 114, 23, 0.25);
  }
}

.modal-ing__item-milkshake {
  border: 2px solid var(--tint-milkshake);

  & .gramm-milkshake {
    background-color: var(--tint-milkshake);
    box-shadow: 0px 6px 20px rgba(213, 117, 63, 0.25);
  }
}

.ing {
  text-align: center;
}

.ing__title {
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
}

.ing__list {
  display: flex;
  flex-wrap: wrap;
  gap: 11px;
  margin-bottom: 48px;
  line-height: 1.76;
}

.ing__item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.modal-form {
  @include margin-auto;
  width: 236px;
}

.modal-form__input {
  width: 100%;
  height: 42px;
  border-radius: 10px;
  margin-bottom: 16px;
  padding: 11px;
}

.modal-form__icecream {
  background: rgba(10, 136, 23, 0.1);
  border: 1px solid var(--color-background);
}

.modal-form__icecoffee {
  background: rgba(153, 114, 23, 0.1);
  border: 1px solid var(--tint-icecoffee);
}

.modal-form__milkshake {
  background: rgba(213, 117, 63, 0.1);
  border: 1px solid var(--tint-milkshake);
}

.modal-form__comment {
  width: 100%;
  height: 84px;
  resize: none;
  border-radius: 10px;
  padding: 11px;
  margin-bottom: 32px;
}

.modal-form__btn {
  @include margin-auto;
  width: 132px;
  font-weight: 600;
  line-height: 1.22;
}

@media screen and (min-width: 768px) {
  .modal-ing {
    width: 568px;
    padding: 32px 40px;
  }
  .modal-ing__close-btn {
    top: 20px;
    right: 20px;
  }
  .modal-ing__form-title {
    margin-bottom: 27px;
  }
  .modal-ing__img-container {
    margin-bottom: 21px;
  }
  .modal-ing__nutritional-value {
    margin-bottom: 48px;
  }
  .modal-ing__list {
    gap: 20px;
  }
  .modal-ing__item {
    width: 65px;
    height: 90px;
  }
  .modal-form {
    width: 368px;
  }
  .modal-form__btn {
    width: 121px;
  }
}
