<section>
  <h2 class="heading-advantages-hidden">Advantages</h2>
  <div class="advantages__container">
    <div class="textIcon__container">
      <div class="img-container">
        <img
          class="img-picture"
          src="./images/icon/cow.png"
          alt="cow"
          width="36"
          height="36"
        />
      </div>
      <p class="advantages-numbers">721</p>
      <p class="advantages-description">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </div>
    <div class="textIcon__container">
      <div class="img-container">
        <img
          class="img-picture"
          alt="ice-cream"
          src="./images/icon/ice-crema.png"
          width="36"
          height="36"
        />
      </div>
      <p class="advantages-numbers">16kg</p>
      <p class="advantages-description">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </div>
    <div class="textIcon__container">
      <div class="img-container">
        <img
          class="img-picture"
          alt="weight"
          src="./images/icon/weight.png"
          width="36"
          height="36"
        />
      </div>
      <p class="advantages-numbers">84</p>
      <p class="advantages-description">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </div>
  </div>
</section>