<section class="contacts" id="contact">
  <div class="container">
    <h2 class="is-hidden">Сontacts</h2>
    <ul class="contacts__cards">
      <li class="contacts__block">
        <p class="contacts__category">CAFE</p>
        <p class="contacts__city">Chicago</p>
        <a
          href="https://goo.gl/maps/HX2mS1TGW4gmM7fW9"
          target="_blank"
          rel="noopener noreferrer nofollow"
          class="contacts__adress"
          >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
        >
        <ul class="contacts__schedule">
          <li class="contacts__working-period">
            <p class="contacts__working-days">Monday - Friday</p>
            <p class="contacts__working-hours">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__working-period">
            <p class="contacts__working-days">Saturday - Sunday</p>
            <p class="contacts__working-hours">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <ul class="contacts__details">
          <li>
            <a href="tel:+610383766284" class="contacts__tel">+61(0) 383 766 284 </a>
          </li>
          <li>
            <a href="mailto:noreply@envato.com" class="contacts__mail">noreply@envato.com</a>
          </li>
        </ul>
      </li>

      <li class="contacts__block">
        <p class="contacts__category">FOODTRUCK</p>
        <p class="contacts__city">Los Angeles</p>
        <a
          href="https://goo.gl/maps/sCDLf1zQy9GPG6ts7"
          target="_blank"
          rel="noopener noreferrer nofollow"
          class="contacts__adress"
          >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
        >
        <ul class="contacts__schedule">
          <li class="contacts__working-period">
            <p class="contacts__working-days">Monday - Friday</p>
            <p class="contacts__working-hours">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__working-period">
            <p class="contacts__working-days">Saturday - Sunday</p>
            <p class="contacts__working-hours">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <ul class="contacts__details">
          <li>
            <a href="tel:+610383766284" class="contacts__tel">+61(0) 383 766 284 </a>
          </li>
          <li>
            <a href="mailto:noreply@envato.com" class="contacts__mail">noreply@envato.com</a>
          </li>
        </ul>
      </li>

      <li class="contacts__block">
        <p class="contacts__category">CAFE</p>
        <p class="contacts__city">New York</p>
        <a
          href="https://goo.gl/maps/3GqhfuQyAoUpvyRd7"
          target="_blank"
          rel="noopener noreferrer nofollow"
          class="contacts__adress"
          >726 Sterling Pl, Brooklyn, NY 11222, USA</a
        >
        <ul class="contacts__schedule">
          <li class="contacts__working-period">
            <p class="contacts__working-days">Monday - Friday</p>
            <p class="contacts__working-hours">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__working-period">
            <p class="contacts__working-days">Saturday - Sunday</p>
            <p class="contacts__working-hours">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <ul class="contacts__details">
          <li>
            <a href="tel:+610383766284" class="contacts__tel">+61(0) 383 766 284 </a>
          </li>
          <li>
            <a href="mailto:noreply@envato.com" class="contacts__mail">noreply@envato.com</a>
          </li>
        </ul>
      </li>
    </ul>

    <ul class="contacts__btns">
      <li class="contacts__btns-item">
        <button class="contacts__btn-location btn" type="button" modal-location-open>
          <span>Our Locations</span>
          <svg lang="en" aria-label="button-arrow-icon" class="btn-icon">
            <use href="./images/sprite.svg#icon-btn-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="contacts__btn-item">
        <button class="contacts__btn-franchise btn" type="button" modal-french-open>
          <span>Franchise</span>
          <svg lang="en" aria-label="button-arrow-icon" class="btn-icon">
            <use href="./images/sprite.svg#icon-btn-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
