<footer class="footer-page">
  <div class="container footer-page__container">
    <div class="headline-social-tel-wrapper">
      <div class="footer-headline-wrapper">
        <p class="footer-headline-wrapper_beginning">homemade ice cream made</p>
        <p class="footer-headline-wrapper_ending">with passion</p>
      </div>
      <div class="social-tel-wrapper">
        <ul class="social-list">
          <li class="social-list__item">
            <a
              href="https://github.com/"
              class="social-list__link"
              target="_blank"
            >
              <svg aria-label="github icon" class="social-list__icon">
                <use href="./images/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="social-list__item">
            <a
              href="https://telegram.org/"
              class="social-list__link"
              target="_blank"
            >
              <svg aria-label="telegram icon" class="social-list__icon">
                <use href="./images/sprite.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="social-list__item">
            <a
              href="https://facebook.com/"
              class="social-list__link"
              target="_blank"
            >
              <svg aria-label="facebook icon" class="social-list__icon">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <p class="footer-tel">
          Feel free to contact
          <span
            ><a href="tel:+610383766284" class="link footer-tel__link"
              >+61 (0) 383 766 284</a
            ></span
          >
        </p>
      </div>
    </div>
    <div class="footer-copywright-wrapper">
      <p class="footer-copywright-wrapper__label">&#169; 2022 - IceCream.</p>
      <p class="footer-copywright-wrapper__text">All Rights Reserved.</p>
    </div>
  </div>
</footer>
