<section class="section gallery">
  <div class="container">
    <h2 class="gallery-title">Gallery</h2>
    <div class="ice-box">
      <picture>
        <source
          srcset="
            ./images/desktop-png/brooke-lark-d-1x.png  1x,
            ./images/desktop-png/brooke-lark-d-@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/tablet-png/brooke-lark-t-1x.png  1x,
            ./images/tablet-png/brooke-lark-t-@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/mobile-png/brooke-lark-m-1x.png  1x,
            ./images/mobile-png/brooke-lark-m-@2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <img src="./images/mobile-png/brooke-lark-m-1x.png" alt="ice-cream" />
      </picture>
    </div>
  </div>
</section>

<!-- <section class="section gallery">
  <h2 class="gallery-title">Gallery</h2>
  <div class="container">
    <div class="ice-box"></div>
  </div>
</section> -->
