<section class="container container-hero">
  <h1 class="container-hero__title">Ice cream made with passion</h1>
  <ul class="container-hero__item">
    <li class="container-hero__list">
      <p class="container-hero__quantity-item">16</p>
      <p class="container-hero__item-list">cafes</p>
    </li>
    <li>
      <p class="container-hero__quantity-item">23</p>
      <p class="container-hero__item-list">food trucks</p>
    </li>
  </ul>
  <ul class="container-hero__btn-list">
    <li>
      <a href="#products">
        <button class="container-hero__btn-link" type="button">Products</button>
      </a>
    </li>
    <li>
      <a href="#how it's made">
        <button class="container-hero__btn-link" type="button">
          How it's made
        </button>
      </a>
    </li>
  </ul>
  <div>
    <picture>
      <source
        srcset="
          ./images/desktop-png/plate-ice-cream-d-1x.png  1x,
          ./images/desktop-png/plate-ice-cream-d-@2x.png 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./images/tablet-png/plate-ice-cream-t-1x.png  1x,
          ./images/tablet-png/plate-ice-cream-t-@2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <img
        class="container-hero__image-plate"
        src="./images/desktop-png/plate-ice-cream-d-1x.png"
        alt="plate ice-cream"
      />
    </picture>
  </div>
  <div>
    <picture>
      <source
        srcset="
          ./images/desktop-png/points-d-1x.png  1x,
          ./images/desktop-png/points-d-@2x.png 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./images/tablet-png/points-t-1x.png  1x,
          ./images/tablet-png/points-t-@2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/mobile-png/points-m-1x.png  1x,
          ./images/mobile-png/points-m-@2x.png 2x
        "
        media="(max-width: 767px)"
      />
      <img
        class="container-hero__image-point"
        src="./images/desktop-png/points-d-1x.png"
        alt="points"
      />
    </picture>
  </div>
  <div>
    <picture>
      <source
        srcset="
          ./images/desktop-png/backlight-ice-cream-d-1x.png  1x,
          ./images/desktop-png/backlight-ice-cream-d-@2x.png 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./images/tablet-png/backlight-ice-cream-t-1x.png  1x,
          ./images/tablet-png/backlight-ice-cream-t-@2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/mobile-png/backlight-ice-cream-m-1x.png  1x,
          ./images/mobile-png/backlight-ice-cream-m-@2x.png 2x
        "
        media="(max-width: 767px)"
      />
      <img
        class="container-hero__backlight"
        src="./images/desktop-png/backlight-ice-cream-d-1x.png"
        alt=""
      />
    </picture>
  </div>
  <div>
    <picture>
      <source
        srcset="
          ./images/desktop-png/ice-cream-d-1x.png  1x,
          ./images/desktop-png/ice-cream-d-@2x.png 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./images/tablet-png/ice-cream-t-1x.png  1x,
          ./images/tablet-png/ice-cream-t-@2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/mobile-png/ice-cream-m-1x.png  1x,
          ./images/mobile-png/ice-cream-m-@2x.png 2x
        "
        media="(max-width: 767px)"
      />
      <img
        class="container-hero__image-ice-cream"
        src="./images/desktop-png/ice-cream-d-1x.png"
        alt=""
      />
    </picture>
  </div>
  <div>
    <picture>
      <source
        srcset="
          ./images/desktop-png/smile-d-1x.png  1x,
          ./images/desktop-png/smile-d-@2x.png 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./images/tablet-png/smile-t-1x.png  1x,
          ./images/tablet-png/smile-t-@2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/mobile-png/smile-m-1x.png  1x,
          ./images/mobile-png/smile-m-@2x.png 2x
        "
        media="(max-width: 767px)"
      />
      <img
        class="container-hero__image-smile"
        src="./images/desktop-png/smile-d-1x.png"
        alt=""
      />
    </picture>
  </div>

  <p class="container-hero__description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et
  </p>
</section>

<!-- <section class="container container-hero__1">
  <h1 class="title__1">Ice cream made with passion</h1>
  <ul class="item__1">
    <li class="list__1">
      <p class="quantity-item__1">16</p>
      <p class="item-list__1">cafes</p>
    </li>
    <li>
      <p class="quantity-item__1">23</p>
      <p class="item-list__1">food trucks</p>
    </li>
  </ul>
</section> -->
