<article>
  <div class="backdrop is-hiddens" data-modal-buy-now>
    <div class="modal-buy-now">
      <button type="button" class="modal-buy-now-close-btn" modal-buy-now-close>
        <svg class="modal-close-icon" width="11" height="11">
          <use href="./images/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <h2 class="modal-buy-now__form-title">Buy now</h2>
      <ul class="modal-buy-now__link">
        <li class="modal-buy-now__list">
            <div class="modal-buy-now__title">
              <picture>
                <source
                  srcset="
                    ./images/desktop-png/modal-kelsey-curtis-d-1x.png  1x,
                    ./images/desktop-png/modal-kelsey-curtis-d-@2x.png 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    ./images/mobile-png/modal-kelsey-curtis-m-1x.png  1x,
                    ./images/mobile-png/modal-kelsey-curtis-m-@2x.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class="modal-buy-now__picture"
                  src="./images/desktop-png/modal-kelsey-curtis-d-1x.png"
                  alt="Ice Creem"
                />
              </picture> 
            </div>
             <div class="modal-buy-now__now">
              <b class="modal-buy-now__text">ICE CREEM</b>
            </div>
        </li>
        <li class="modal-buy-now__list">
          <a class="modal__container" href="#"></a>
          <div class="modal-buy-now__title-yellow">
            <picture>
              <source
                srcset="
                  ./images/desktop-png/modal-pariwat-pannium-d-1x.png  1x,
                  ./images/desktop-png/modal-pariwat-pannium-d-@2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/mobile-png/modal-pariwat-pannium-m-1x.png  1x,
                  ./images/mobile-png/modal-pariwat-pannium-m-@2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="modal-buy-now__picture-list"
                src="./images/desktop-png/modal-pariwat-pannium-d-1x.png"
                alt="Ice Cofee"
              />
            </picture>
          </div>
          <div class="modal-buy-now__now">
            <b class="modal-buy-now__text">ICE COFEE</b>
          </div>
        </li>
        <li class="modal-buy-now__list">
          <a class="modal__container" href="#"></a>
          <div class="modal-buy-now__title-brown">
            <picture>
              <source
                srcset="
                  ./images/desktop-png/modal-victor-rutka-d-1x.png  1x,
                  ./images/desktop-png/modal-victor-rutka-d-@2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/mobile-png/modal-victor-rutka-m-1x.png  1x,
                  ./images/mobile-png/modal-victor-rutka-m-@2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="modal-buy-now__picture-item"
                src="./images/desktop-png/modal-victor-rutka-d-1x.png"
                alt="Milkshake"
              />
            </picture>
          </div>
          <div class="modal-buy-now__now">
            <b class="modal-buy-now__text">MILKSHAKE</b>
          </div>
        </li>
      </ul>

      <form class="modal-buy-now__form">
        <label class="modal-buy-now__form-field">
          <span class="modal-buy-now__field-desc"></span>
          <div class="modal-buy-now__form-wrapper">
            <input
              type="text"
              class="modal-buy-now__form-input"
              required
              pattern="[a-zA-Zа-яА-ЯіІїЇ]+"
              name="user_name"
              placeholder="Name"
            />
          </div>
        </label>
        <label class="modal-buy-now__form-field">
          <span class="modal-buy-now__field-desc"></span>
          <div class="modal-buy-now__form-wrapper">
            <input
              type="tel"
              class="modal-buy-now__form-input"
              required
              pattern="[0-9]{3}-[0-9}]{3}-[0-9]{2}-[0-9]{2}"
              title="xxx-xxx-xx-xx"
              name="user_phone"
              placeholder="Phone"
            />
          </div>
        </label>
        <label class="modal-buy-now__form-field">
          <span class="modal-buy-now__field-desc"></span>
          <textarea
            name="user-message"
            class="modal-buy-now__message"
            placeholder="Comment"
          ></textarea>
        </label>
        <button type="submit" class="modal-buy-now__submit">Submit</button>
      </form>
    </div>
  </div>
  <script type="module" src="./js/modal-buy-now.js"></script>
</article>