<section class="section" id="products">
    <div class="container products-owerlay">
        <p class="products-text">100% NATURAL</p>
        <h2 class="products-title">PRODUCTS</h2>
    
        <ul class="products card-set">
            <li class="products-item">

                <div class="products-ice-cream-circle"></div>

                <h3 class="products-ice-cream">ICE CREAM</h3>
                <p class="product-description">Soft ice cream with a delicate taste. Made with milk, 
                    cream, sugar and natural stabilizer
                </p>
                <button modal-open-icecream class="btn-open">
                    <svg class="open-icon">
                        <use href="/src/images/sprite.svg#icon-arrow"></use>
                    </svg>
                </button>
            </li>
            <li class="products-item">

                <div class="products-ice-coffee-circle"></div>

                <h3 class="products-ice-coffee">ICE COFFEE</h3>
                <p class="product-description">Fragrant invigorating drink created from 100% natural ingredients without 
                    the use of preservatives and flavor enhancers
                </p>
                <button modal-open-icecoffee class="btn-open">
                    <svg class="open-icon">
                        <use href="/src/images/sprite.svg#icon-arrow"></use>
                    </svg>
                </button>
            </li>
            <li class="products-item">

                <div class="products-milkshakes-circle"></div>

                <h3 class="products-milkshakes">milkshakes</h3>
                <p class="product-description">Sweet drinks based on milk and ice cream, 
                    supplemented with syrups, fruits, berries and other sweets of your choice
                </p>
                <button modal-open-milkshake class="btn-open">
                    <svg class="open-icon">
                        <use href="/src/images/sprite.svg#icon-arrow"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>

</section>