<section class="section" id="products">
    <div class="container products-owerlay">
        <p class="products-text">100% NATURAL</p>
        <h2 class="products-title">PRODUCTS</h2>
    
        <ul class="products">
            <li class="priducts-item">
                <!-- <svg class="circle" width="200px" height="199px">
                    <use href="/src/images/mobile-png/ellipse-mob-1x.png"></use>
                </svg> -->
                <h3 class="products-name">ICE CREAM</h3>
                <p class="product-description">Soft ice cream with a delicate taste. Made with milk, 
                    cream, sugar and natural stabilizer
                </p>
                <button modal-open-icecream class="btn-open">
                    <svg class="open-icon" width="40">
                        <use href="/src/images/sprite.svg#icon-frame-53"></use>
                    </svg>
                </button>
            </li>
            <li class="priducts-item">
                <h3 class="products-name">ICE COFFEE</h3>
                <p class="product-description">Fragrant invigorating drink created from 100% natural ingredients without 
                    the use of preservatives and flavor enhancers
                </p>
                <button modal-open-icecoffee class="btn-open">
                    <svg class="open-icon" width="40">
                        <use href="/src/images/sprite.svg#icon-frame-53"></use>
                    </svg>
                </button>
            </li>
            <li class="priducts-item">
                <h3 class="products-name">milkshakes</h3>
                <p class="product-description">Sweet drinks based on milk and ice cream, 
                    supplemented with syrups, fruits, berries and other sweets of your choice
                </p>
                <button modal-open-milkshake class="btn-open">
                    <svg class="open-icon" width="40">
                        <use href="/src/images/sprite.svg#icon-frame-53"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>

</section>