@media screen and (max-width: 767px) {
    .customer-reviews {
        height: 1050px;
        padding-top: 186px;
        background-color: #F5F5F5;
        background-image: url('../images/mobile-png/background-customer-m-1x.png');
        width: 100%;
    }

    @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
        .customer-reviews {
            background-image: url('../images/mobile-png/background-customer-m-@2x.png');
            height: 940px;
        }
    }
}

@media screen and (min-width: 768px) {
    .customer-reviews {
        padding-top: 60px;
        background-color: #F5F5F5;
        background-image: url('../images/tablet-png/background-customer-t-1x.png');
        min-width: 768px;
        height: 958px;
    }

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
        .customer-reviews {
            background-image: url('../images/tablet-png/background-customer-t-@2x.png');
        }
    }
}

@media screen and (min-width: 1200px) {
    .customer-reviews {
        padding-top: 128px;
        background-image: url('../images/desktop-png/background-customer-d-1x.png');
        min-width: 1200px;
        height: 1020px;
    }

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
        .customer-reviews {
            background-image: url('../images/desktop-png/background-customer-d-@2x.png');
        }
    }
}

.customer-reviews__container {
    position: relative;
}

.middle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navigation {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.bar {
    width: 12px;
    height: 12px;
    margin: 9px;
    cursor: url('../images/cursor.png'), auto;
    background-color: var(--color-btn-slider);
    border-radius: 45%;

    &:hover,
    &:focus {
        background-color: var(--color-background);
    }
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 400%;
    height: 100%;
    display: flex;
}

.slide {
    width: 25%;
    transition: all 0.6s ease;
}

.slider__img {
    display: flex;
    width: 85px;
    height: 85px;
    border-radius: 45%;
    margin-left: auto;
    margin-right: auto;
}

#r1:checked~.s1 {
    margin-left: 0;
}

#r2:checked~.s1 {
    margin-left: -25%;
}

#r3:checked~.s1 {
    margin-left: -50%;
}

#r4:checked~.s1 {
    margin-left: -75%;
}

.slider {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.slider__review {
    display: flex;
    text-align: center;
    justify-content: center;
    color: var(--color-primary-text);
    background: var(--color-background);
    border-radius: 10px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.slider__customer {
    font-weight: 500;
    line-height: 186%;
    text-align: center;
    color: var(--color-secondary-text);
}

@media screen and (max-width: 767px) {
    .customer-reviews__container {
        height: 775px;
    }

    .slider__img {
        margin-bottom: 32px;
    }

    .slider__review {
        font-weight: 400;
        font-size: 12px;
        line-height: 255%;
        width: 280px;
        height: 256px;
        padding-left: 39px;
        padding-right: 39px;
        margin-bottom: 30px;
    }

    .slider__customer {
        font-size: 20px;
    }

    .navigation {
        top: 450px;
    }
}

@media screen and (min-width: 768px) {
    .customer-reviews {
            padding-top: 223px;
        }
    .customer-reviews__container {
        height: 650px;
    }

    .slider__img {
        margin-bottom: 28px;
    }

    .slider__review {
        font-weight: 500;
        font-size: 14px;
        line-height: 186%;
        width: 705px;
        height: 138;
        padding-left: 80px;
        padding-right: 80px;
        margin-bottom: 32px;
    }

    .slider__customer {
        font-size: 16px;
    }

    .navigation {
        top: 340px;
    }
}

@media screen and (min-width: 1200px) {
    .customer-reviews {
        padding-top: 452px;
    }
    .customer-reviews__container {
        height: 485px;
    }

    .slider__img {
        margin-bottom: 32px;
    }

    .slider__review {
        font-size: 16px;
        line-height: 186%;
        width: 968px;
        height: 138;
        padding-left: 74px;
        padding-right: 74px;
        margin-bottom: 32px;
    }

    .navigation {
        top: 345px;
    }
}

