// <<<<<<<<<<--MOBILE-->>>>>>>>>>>>
@media screen and (max-width: 767px) {
    .container-hero {        
        height: 450px;
        padding: 58px 20px 0px 20px;        
    }
    .container-hero__title {
        width: 100%;
        font-size: 26px;
        line-height: 1.27;
        letter-spacing: 0.04em;
        margin-bottom: 32px;               
    }
    .container-hero__title-part {
        font-size: 34px;
        line-height: 0.97;
    }
    .container-hero__image {
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
    }
    .container-hero__image-point {
        z-index: 20;        
    }
    .container-hero__backlight {
        z-index: 10;        
        width: 167px;
        height: 218px;
        background: rgba(252, 252, 252, 0.44);
            filter: blur(26.8405px);
    }
    .container-hero__image-ice-cream {             
        z-index: 30;        
    }
    .container-hero__image-smile {
        bottom: 49.76px;
        z-index: 40;
    }
    .container-hero__quantity-item, 
    .container-hero__item-list, 
    .container-hero__image-plate, 
    .container-hero__description {
        display: none;
    }
}
@media screen and (max-width: 1199px) {
    .container-hero__btn-list {
        display: flex;
        gap: 8px;
    }
    .container-hero__btn-link {
        font-size: 8px;
        line-height: 1.25;
        border-radius: 8px;
        padding: 7px 11px;
    }
}
// <<<<<<<<<<--GENERAL-->>>>>>>>>>>>
.container-hero {
    background-color: var(--color-background);
    position: relative;
}
.container-hero__title {    
    font-family: 'Seymour One';
    font-style: normal;
    text-transform: uppercase;
    font-weight: 400;
    color: var(--color-primary-text);
}
.container-hero__btn-link {
    font-family: 'Montserrat';
    font-style: normal;
    text-decoration: underline;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 600;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--color-btn-default);

    &:focus,
    &:hover {
        text-decoration: none;
        color: var(--color-secondary-text);
        border: 2px solid #F8D24E;
        outline: none;
        border-color: var(--color-btn-default);
    }
}
// <<<<<<<<<<--TABLET-->>>>>>>>>>>>
@media screen and (min-width: 768px) {
    .container-hero {        
        height: 348px;
        padding: 37px 32px 0px 32px;        
    }
    .container-hero__title {        
        font-size: 18px;
        line-height: 1.28;
        margin-bottom: 20px;
    }
    .container-hero__item {
        font-family: 'Montserrat';
        font-style: normal;
        text-transform: uppercase;
        text-align: right;        
        right: 32px;
        top: 27px;
    }
    .container-hero__quantity-item {
        font-weight: 900;
        font-size: 28px;
        line-height: 1.21;
        letter-spacing: 0.04em;        
        margin-bottom: 4px;  
        color: var(--color-secondary-text);      
    }
    .container-hero__item-list {        
        font-weight: 400;        
        color: var(--color-primary-text)
    }
    .container-hero__list {
        margin-bottom: 20px;
    }  
    .container-hero__description, 
    .container-hero__image, 
    .container-hero__item {
        position: absolute;
        bottom: 0px;
    }
    .container-hero__description {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.4;
        max-width: 151px;        
        color: var(--color-primary-text); 
        left: 217px;
        bottom: 52px;
        z-index: 60;
    }    
    .container-hero__image-plate {
        bottom: 13px;
        left: 32px;
        z-index: 25;        
    }
    .container-hero__image-point {
        left: 0px;
        z-index: 20; 
    }
    .container-hero__backlight {
        width: 466px;
        right: 80px;
        z-index: 10;
        background: rgba(252, 252, 252, 0.44);
            filter: blur(27.9859px);        
    }
    .container-hero__image-ice-cream {        
        z-index: 30;
    }
    .container-hero__image-smile {             
        z-index: 40;
    }    
}


// .container-hero__title {
//     width: 100%;
//     max-width: 247px;
//     font-size: 26px;
//     line-height: 1.27;
//     letter-spacing: 0.04em;
//     margin-bottom: 32px;

// }

// <<<<<<<<<<--GENERAL-->>>>>>>>>>>>

// .container-hero__description::after {
//     content: "";
//     width: 40px;
//     height: 1px;
//     display: block;
//     background-color: white;

//     border: 2px solid #131313;
//         transform: rotate(-0.53deg);

// }

// .container-hero__description-arrow {
//     width: 40px;
//     fill: #FCFCFC;
//     position: absolute;
//     border: 2px solid #FCFCFC;
// }
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .container-hero__title-part {
        font-size: 24px;        
    }
    .container-hero__item-list {
        font-size: 8px;
        line-height: 1.25;
    }
    .container-hero__image-point {
        width: 767px;
    }
    .container-hero__backlight {
        width: 266px;
        height: 341px;
    }
    .container-hero__image-ice-cream {        
        right: 93px;
        bottom: 0px;        
    }
    .container-hero__image-smile {        
        top: 31px;
        right: 96px;        
    }

}





// <<<<<<<<<<--DESKTOP-->>>>>>>>>>>>
@media screen and (min-width: 1200px) {
    .container-hero {        
        height: 587px;
        padding-top: 41px;
    }
    .container-hero__title {        
        font-size: 38px;
        line-height: 1.26;
        letter-spacing: 0.04em;
    } 
    .container-hero__btn-link {
        font-size: 14px;
        line-height: 1.29;
        padding: 12px 34px;
        border-radius: 10px;
    }
    .container-hero__btn-list {
        display: flex;
        gap: 12px;
    }
    .container-hero__description {        
        font-size: 14px;        
        max-width: 220px;
        position: absolute;
        left: 256px;
        bottom: 111px;        
    }

    .container-hero__quantity-item {        
        font-size: 46px;
        line-height: 1.22;
    }
    .container-hero__item-list {        
        font-size: 14px;
        line-height: 1.21;
    }

    .container-hero__item {
        position: absolute;
        right: 16px;
        top: 53px;       

    }
    .container-hero__list {
        margin-bottom: 16px;

    }

    .container-hero__image {
        position: relative;
        

    }
// <<<<<<<<<<--DESK IMAGES-->>>>>>>>>>>>
    .container-hero__image-plate {
        width: 225px;
        position: absolute;
        bottom: 65px;
        left: 17px;
        z-index: 20;        
    }
    .container-hero__image-point {
        position: absolute;
        bottom: 0px;
        left: 0px;
        z-index: 10; 
    }
    .container-hero__backlight {
        position: absolute;
        bottom: 0px;
        right: 65px;
        z-index: 20;
    
        width: 477px;
        height: 589px;
        background: rgba(252, 252, 252, 0.44);
        filter: blur(50px);
    }

    .container-hero__btn-list {
        position: absolute;
        top: 217px;
        left: 16px;
        z-index: 50;
    }

    .container-hero__backlight {
        position: absolute;
        bottom: 0px;
        right: 65px;
        z-index: 20;
        
        width: 477px;
        height: 589px;
        background: rgba(252, 252, 252, 0.44);
        filter: blur(50px);
    }

    .container-hero__image-ice-cream {
        position: absolute;
        bottom: 0px;
        right: 102px;
        z-index: 30;
    }

    .container-hero__image-smile {
        position: absolute;
        top: 41px;
        right: 93px;
        z-index: 40;
    }
}