.container-hero {    
    position: relative;
}
.container-hero__title {
    font-family: 'Seymour One';
    font-style: normal;
    text-transform: uppercase;
    font-weight: 400;
    color: var(--color-primary-text);
}
.btn-products,
.btn-made,
.container-hero__arrow-btn {
    cursor: url(../images/cursor.png), auto;
}
.btn-products {
    font-weight: 600;
    border: 2px solid #F8D24E;    
    background: none;    
    color: var(--color-secondary-text);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        border: 2px solid var(--color-btn-hover_focus);
    }
    &:focus {
        border: 2px solid var(--color-btn-hover_focus);
        color: var(--color-primary-text);
    }
    &:disabled {
        border: 2px solid var(--color-btn-disable);
    }
}
.btn-made {
    color: var(--color-btn-default);
    text-decoration: underline;
    border: none;
    background: none;
    font-weight: 600;
    
    &:hover {
        color: var(--color-btn-hover_focus);
    }
    &:focus {        
        color: var(--color-primary-text);
    }
    &:disabled {
        color: var(--color-btn-disable);
    }

}
.container-hero__description,
.container-hero__image,
.container-hero__item, 
.container-hero__arrow-btn {
    position: absolute;
    bottom: 0px;
}
.container-hero__arrow-btn {
    background: none;
    border: none;
    fill: #FCFCFC;
    padding: 0px 0px;
    z-index: 100;
}
.container-hero__arrow-icon {    
    width: 40px;
    height: 40px;  
}
.container-hero__arrow-btn:hover .container-hero__arrow-icon {
    width: 50px;
}
.container-hero__arrow-btn:focus .container-hero__arrow-icon {
    width: 60px;        
}


// <<<<<<<<<<--MOBILE-->>>>>>>>>>>>
@media screen and (max-width: 767px) {
    .container-hero {        
        height: 450px;
        padding: 58px 20px 0px 20px;        
    }
    .container-hero__title {
        width: 100%;
        font-size: 26px;
        line-height: 1.27;
        letter-spacing: 0.04em;
        margin-bottom: 32px;               
    }
    .container-hero__title-part {
        font-size: 34px;
        line-height: 0.97;
    }
    .container-hero__image {        
        left: 50%;
        transform: translateX(-50%);
    }
    .container-hero__image-point {
        z-index: 25;        
    }
    .container-hero__backlight {
        z-index: 25;        
        width: 167px;
        height: 218px;
        background: rgba(252, 252, 252, 0.44);
            filter: blur(26.8405px);
    }
    .container-hero__image-ice-cream {             
        z-index: 30;        
    }
    .container-hero__image-smile {
        bottom: 49.76px;
        z-index: 40;
    }
    .container-hero__item,
    .container-hero__image-plate, 
    .container-hero__description,
    .container-hero__arrow-btn {
        display: none;
    }
}
@media screen and (max-width: 1199px) {
    .container-hero__btn-list {        
        display: flex;
        gap: 8px;
        font-size: 8px;        
    }
    .btn-products {
        width: 62px;
        height: 24px;
        line-height: 1.25;        
        border-radius: 8px;
    }
    .btn-made {
        width: 83px;
        height: 24px;
        line-height: 1.25;        
        border-radius: 8px;
    }
}
// <<<<<<<<<<--TABLET-->>>>>>>>>>>>
@media screen and (min-width: 768px) {
    .container-hero {        
        height: 348px;
        padding: 37px 32px 0px 32px;        
    }
    .container-hero__title {        
        font-size: 18px;
        line-height: 1.28;        
    }
    .container-hero__item {
        font-family: 'Montserrat';
        font-style: normal;
        text-transform: uppercase;
        text-align: right;        
        right: 32px;
        top: 27px;
    }
    .container-hero__quantity-item {
        font-weight: 900;
        font-size: 28px;
        line-height: 1.21;
        letter-spacing: 0.04em;        
        margin-bottom: 4px;  
        color: var(--color-secondary-text);      
    }
    .container-hero__item-list {
        text-transform:lowercase;
        font-weight: 400;        
        color: var(--color-primary-text)
    }
    .container-hero__list {
        margin-bottom: 20px;
    }
    .container-hero__description {
        font-family: 'Montserrat';
        font-style: normal;
        width: 151px;
        height: 85px;   
        font-weight: 400;
        font-size: 12px;
        line-height: 1.4;
        color: var(--color-primary-text); 
        left: 217px;
        bottom: 52px;
        z-index: 60;        
    }    
    .container-hero__image-plate {
        bottom: 13px;
        left: 32px;
        z-index: 26;        
    }
    .container-hero__image-point {
        left: 0px;
        z-index: 25; 
    }
    .container-hero__backlight {
        width: 466px;
        right: 80px;
        z-index: 25;
        background: rgba(252, 252, 252, 0.44);
            filter: blur(27.9859px);        
    }
    .container-hero__image-ice-cream {        
        z-index: 30;
    }
    .container-hero__image-smile {             
        z-index: 40;
    }
    .container-hero__arrow-btn {        
        bottom: 24px;
        left: 216px;        
    }    
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .container-hero__title {
        margin-bottom: 20px;
    }
    .container-hero__title-part {
        font-size: 24px;        
    }
    .container-hero__item-list {
        font-size: 8px;
        line-height: 1.25;
    }
    .container-hero__image-point {
        width: 767px;
    }
    .container-hero__backlight {
        width: 266px;
        height: 341px;
    }
    .container-hero__image-ice-cream {        
        right: 93px;
        bottom: 0px;        
    }
    .container-hero__image-smile {        
        top: 31px;
        right: 96px;        
    }
    .container-hero__description {        
        margin-bottom: 20px;
    }
        
    
}
// <<<<<<<<<<--DESKTOP-->>>>>>>>>>>>
@media screen and (min-width: 1200px) {
    .container-hero {        
        height: 587px;
        padding: 41px 16px 0px 16px;
    }
    .container-hero__title {        
        font-size: 38px;
        line-height: 1.26;
        letter-spacing: 0.04em;
    } 
    .btn-products {
        width: 134px;
        line-height: 1.29;        
    }
    .btn-made {
        width: 154px;        
        line-height: 1.21;
    }
    .container-hero__btn-list {
        font-size: 14px;
        display: flex;
        gap: 12px;
    }
    .container-hero__description {
        width: 220px;
        height: 112px;
        font-size: 14px; 
        left: 256px;
        bottom: 111px;        
    }
    .container-hero__quantity-item {        
        font-size: 46px;
        line-height: 1.22;
    }
    .container-hero__item-list {
        font-size: 14px;
        line-height: 1.21;
    }
    .container-hero__item {        
        right: 16px;
        top: 53px; 
    }
    .container-hero__list {
        margin-bottom: 16px;
    }
    .container-hero__btn-list {
        position: absolute;
        top: 217px;
        left: 16px;
        z-index: 50;
    }
    .container-hero__image-plate {
        bottom: 65px;
        left: 17px;
        z-index: 20;        
    }
    .container-hero__image-point {        
        left: 0px;
        z-index: 25; 
    }
    .container-hero__backlight {        
        width: 477px;
        height: 589px;
        right: 65px;
        z-index: 25;        
        background: rgba(252, 252, 252, 0.44);
        filter: blur(50px);
    } 
    .container-hero__image-ice-cream {
        width: 447px;
        height: 561px;        
        right: 102px;
        z-index: 30;
    }
    .container-hero__image-smile {        
        top: 41px;
        right: 93px;
        z-index: 40;
    }
    .container-hero__arrow-btn {
        bottom: 87px;
        left: 256px;
    }
}
