// <<<<<<<<<<--DESKTOP-->>>>>>>>>>>>
@media screen and (min-width: 1200px) {
    .container-hero {
        max-width: 1600px;
        height: 591px;
        padding-top: 45px;
        padding-bottom: 111px;
        background-color: var(--color-background);

        position: relative;
        border: 2px solid tomato;

    }

    .container-hero__title {
        max-width: 367px;
        font-family: 'Seymour One';
        font-style: normal;
        font-weight: 400;
        font-size: 38px;
        line-height: 1.26;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: var(--color-primary-text);


        border: 2px solid tomato;
    }

    .container-hero__btn-link {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 1.29;

        padding: 12px 34px;
        border-radius: 10px;
        text-decoration: underline;
        border: none;
        background: none;
        display: flex;
        align-items: center;
        text-align: center;
        color: var(--color-btn-default);
        transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);

        &:focus,
        &:hover {
            text-decoration: none;
            color: var(--color-secondary-text);
            border: 2px solid #F8D24E;
            outline: none;
            border-color: var(--color-btn-default);
        }
    }

    .container-hero__btn-list {
        display: flex;
        gap: 12px;

    }

    .container-hero__description {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        max-width: 220px;
        min-height: 80px;
        color: var(--color-primary-text);

        border: 1px solid tomato;
        position: absolute;
        left: 256px;
        bottom: 111px;
        z-index: 60;

    }

    .container-hero__quantity-item {
        font-weight: 900;
        font-size: 46px;
        line-height: 1.22;
        letter-spacing: 0.04em;
        text-transform: uppercase;

        margin-bottom: 4px;
        text-align: right;

    }

    .container-hero__item-list {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.21;
        color: #FCFCFC;

        text-align: right;
    }

    .container-hero__item {
        position: absolute;
        right: 16px;
        top: 53px;
        border: 2px solid tomato;

    }

    .container-hero__list {
        margin-bottom: 16px;

    }

    .container-hero__image {
        position: relative;
        border: 2px solid tomato;

    }

    .container-hero__image-plate {
        width: 225px;
        position: absolute;
        bottom: 65px;
        left: 17px;
        z-index: 20;
        border: 2px solid tomato;
    }

    .container-hero__image-point {
        position: absolute;
        bottom: 0px;
        left: 0px;
        z-index: 10;
        border: 2px solid tomato;

    }

    .container-hero__btn-list {
        position: absolute;
        top: 217px;
        left: 16px;
        z-index: 50;
    }

    .container-hero__backlight {
        position: absolute;
        bottom: 0px;
        right: 65px;
        z-index: 20;
        border: 2px solid tomato;
        width: 477px;
        height: 589px;
        background: rgba(252, 252, 252, 0.44);
        filter: blur(50px);
    }

    .container-hero__image-ice-cream {

        position: absolute;
        bottom: 0px;
        right: 102px;
        z-index: 30;
    }

    .container-hero__image-smile {
        position: absolute;
        top: 41px;
        right: 93px;
        z-index: 40;
    }
}